.main-inner-wrapper {
	padding: 20px 20px 0 20px;
}
.leaderboard-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}
.leaderboard-menu a img{ 
	width: 78px;
	margin: 0 0 7px 0;
	background: #e43f3f;
}
a.active img{ 
	background: #363636;
}
.leaderboard-menu a:nth-of-type(6) img{
	margin-bottom: 30px;
}
.leaderboard-menu a:hover img{
   background: #363636;
}
.bottom-inner-wrapper{
	padding: 0 10px 0 20px;
}
.current-game .img-holder:after{
	background: #e43f3f;
}
.table-title{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: italic;
}
.table-leaderboard{
	margin-top: 10px;
	color: #fff;
	cursor: pointer;
}
.table-leaderboard a{
	text-decoration: none;
	color: #fff;
}
.table-leaderboard a:hover{
	color: #333;
}
.table-leaderboard thead{
	border-bottom: 10px solid #fff;
}
.table-leaderboard thead tr th{
	text-align: center;
}
.table-leaderboard thead tr th.current img{
	margin: -10px -32px -4px 0; 
}
.table-leaderboard thead tr th.current img.change-order{
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	margin: -6px -32px -8px 0; 
}
.table-leaderboard tbody tr td:last-child{
	margin: 20px 0 0 -40px;
	border: none;
	position: absolute;
	background: none;
}
.table-leaderboard tbody tr:hover td:last-child{
	background: none;
}
.table-leaderboard tr th:nth-child(even), .table tr td:nth-child(even){
	background: #e43f3f;
}
.table-leaderboard tr th:hover:nth-child(even), .table tr:hover td:nth-child(even){
	background: rgba(228, 63, 63, 0.5);
}
.table-leaderboard tr th:nth-child(odd), .table tr td:nth-child(odd){
	background: #363636;
}
.table-leaderboard tr th:hover:nth-child(odd), .table tr:hover td:nth-child(odd){
	background: rgba(54, 54, 54, 0.5);
}
.table-progressbar{
	height: 3px;
	margin-top: 8px;
	margin-bottom: -8px;
	position: relative;
	background: #d8d8d8;
}
.table-leaderboard tbody tr td span{
	margin: 0 0 0 -15px;
	position: absolute;
	opacity: 0;
	z-index: 2;
}
.table-leaderboard tbody tr:hover td span{
	opacity: 1;
}
.table-progressbar-cover{
	background: #e43f3f;
}
.search-leaderboard{
	margin: 10px 0 0 0;
}
.search-leaderboard div{
	display: inline-block;
}
.search-leaderboard div input{
	padding: 1px 5px;
	margin-right: -1px;
}
.search-leaderboard label span{
	color: #fff;
	margin-left: 6px;
	cursor: pointer;
}
.search-leaderboard label input{
	width: 34px;
	height: 26px;
	margin: -3px 0 0 -3px;
	position: absolute;
	background: #363636;
	border: 0;
}
.search-leaderboard button{
	height: 26px;
	border: 1px solid #e43f3f;
	background: #e43f3f;
}
.search-leaderboard button:hover{
	background: #363636;
	border: 1px solid #363636;
}
.search-leaderboard button:nth-of-type(1){
	margin: 5px 5px 0 0;
}
.search-leaderboard button.selected{
	background: #363636;
	border: 1px solid #363636;
}
@media screen and (min-width: 420px){
	.search-leaderboard button:nth-of-type(1){
		margin: 0 5px 0 15px;
	}
}
@media screen and (min-width: 640px){
	.table-leaderboard thead tr th:nth-of-type(1){
		padding-right: 20px;
	}
	.table-leaderboard tbody tr td:last-child{
		margin: 0 0 0 -45px;
	}
}
@media screen and (min-width: 768px){
	.leaderboard-menu{
		padding: 0;
	}
	.leaderboard-menu a img{
		width: 59px;
		height: auto;
		margin: 0 0 7px 7px;
	}
	.bottom-main{
		width: 90.7%;
		float: right;
		border-left: 1px solid #d8d8d8;
	}
	.table-leaderboard thead tr th:nth-of-type(1){
		padding-right: auto;
	}
}
@media screen and (min-width: 990px){
	.leaderboard-menu a img{
		width: 78px;
	}
	.table-leaderboard tbody tr td:last-child{
		margin: 0 0 0 -60px;
	}
}
@media screen and (min-width: 1024px){
	.leaderboard-menu img{
		margin-left: 0;
	}
}
@media screen and (min-width: 1200px){
	.leaderboard-menu{
		margin-left: 10px;
	}
	.leaderboard-menu a img{
		margin: 0 0 7px 0;
	}
	.table-leaderboard tbody tr td:last-child{
		margin: 0 0 0 -70px;
	}
}
@-moz-document url-prefix(){
	.search-leaderboard div input {
		padding: 2px 5px;
	}
}